html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr max-content;
  height: inherit;
  font-size: 18px;
  font-family: 'Segoe UI', 'Helvetica', sans-serif;
}

.dark {
  color: #dcdcdc;
  background-color: #323232;
}

.light {
  color: #424242;
  background-color: #efefef;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;

  font-size: 1px;
  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  margin-bottom: 0;
}

.heading_size_l {
  font-weight: 700;
  font-size: 91px;
}

.heading_size_m {
  font-size: 56px;
}

.text {
  color: inherit;
  line-height: 1.2;
}

.header {
  min-height: 70px;
  padding-top: 20px;
  border-bottom: 3px solid #4bb;
}

.header__inner {
  display: flex;
  align-items: center;
}

.lang-switcher {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__lang-switcher {
  margin-right: 40px;
}

.lang-switcher__item {
  display: inline-block;
  vertical-align: baseline;
  border-right: 1px solid #777;
}

.lang-switcher__item:last-child {
  border-right: none;
}

.lang-switcher__button,
.lang-switcher__button:focus {
  color: inherit;
}

.lang-switcher__button:hover {
  color: #777;
}

.theme-switcher {
  background-color: #777;
}

.search-form {
  margin-left: auto;
}

.light .search-form input,
.light .search-form button {
  border: 1px solid #777;
  color: inherit;
}

.main {
  border-bottom: 3px solid #4bb;
}

.banner {
  min-height: 700px;
  padding: 80px 0;
  color: inherit;
  text-align: center;
  background-image: url("../images/stroke.png"), url("../images/bubbles.png");
  background-position: center, 80% 25px;
  background-size: contain, 62%;
  background-repeat: no-repeat;
}

.footer__quote {
  margin: 0;
  font-size: 16px;
}

.section {
  min-height: 350px;
  padding: 70px 0;
  border-bottom: 1px solid #777;
  text-align: center;
}

.section:last-child {
  border-bottom: none;
}

.section:empty::before {
  content: "There's nothing here yet.";
}

.footer {
  min-height: 60px;
  padding: 40px 0;
}

.footer__quote {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
